


.navbar{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $darkGrey;
  &__tittle {
    padding: 0.77rem 1.2rem 1.2rem 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.21rem;
    color: white;
  }
    &__burger{
      &-line{
        background: url("../img/pizza-bg-1200.png");
        background-size: cover;
        //height: 173px;/*t*/
        color: white;
        //padding: 20px 133px 0 20px;// sehvdi!
        &-text {
          padding: 1.25rem 8.31rem 5.87rem 1.25rem;
            &-first{
              margin-bottom:7px
            }
            &-third {
              margin-top: 20px;
              color: #93bcc4;
            }
          }
      }
  }
}